<div class="container text-center">
  <h4>Liste des étudiants</h4>

<div class="card-body">
                 <form method="GET" action="localhost/etudiant.php" name="myform">
                 <div class="row">
                 <div class="col-md-4">
                 <i class="fa fa-search" aria-hidden="true"></i><input type= "search" name="terme" id="terme" width="80%" />
                         <input type="submit"  value="Rechercher" name="envoi" id="lastname" class="btn btn-primary"/> 
                <div class="col-md-6">
                </div>
                </div>

 <div class="col-md-20"> 
        <input type="submit"   value="PDF" name="envoi" id="lastname" class="btn btn-primary"/> 
</div >  

  <table class="table table-striped">
    <thead>
  <tr>
    <th>id</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Promotion</th>
    <th>Gender</th>
    <th>Birth date</th>
    
  </tr>
</thead>
<tbody>
  <tr *ngFor="let mydata of data[0]">
    <td>{{mydata.id}}</td>
    <td>{{mydata.lastname}}</td>
    <td>{{mydata.firstname}}</td>
    <td>{{mydata.promotion}}</td>
    <td>{{mydata.gender}}</td>
    <td>{{mydata.birth_date}}</td>
   
  </tr>
  <tbody>
    </table>
  
</div>
<router-outlet></router-outlet>